<nav class="navbar navbar-expand-lg px-5 mb-4">
  <a [routerLink]="'/home'" class="navbar-brand">HotelHero</a>
  <ul class="navbar-nav align-items-center">
    <li class="nav-item currency">BRL</li>
    <li class="nav-item">
      <i class="fas fa-globe fa-lg"></i>
    </li>
    <li class="nav-item">
      <i class="far fa-bell fa-lg"></i>
    </li>
    <li class="nav-item dropdown" *ngIf="loggedIn; else notLoggedIn">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        role="button"
        href="#"
      >
        <i class="bi bi-person-circle me-1" style="font-size: 21px"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" href="#"><i class="fas fa-user-circle mr-2"></i> Meu Perfil</a>
        <a class="dropdown-item" (click)="logout()">
          <i class="fas fa-sign-out-alt mr-2"></i> Sair
        </a>
      </div>
    </li>
    <ng-template #notLoggedIn>
      <li class="nav-item">
        <a [routerLink]="'/login'" class="nav-link">Login/Signup</a>
      </li>
    </ng-template>
  </ul>
</nav>
