<div class="floating-form">
  <form [formGroup]="searchForm" class="d-flex flex-row align-items-center">
    <div class="ms-3">
      <span
        class="fw-bold"
        *ngIf="editingField !== 'destination'"
        (click)="toggleEdit('destination')"
      >
        {{ getFieldValue('destination').name }}
      </span>
      <p-autoComplete
        #inputElement
        formControlName="destination"
        field="name"
        [suggestions]="regions"
        (onBlur)="updateDestinationField()"
        *ngIf="editingField === 'destination'"
        [autofocus]="true"
      ></p-autoComplete>
    </div>

    <div class="vertical-line"></div>

    <div class="">
      <span class="fw-bold" *ngIf="editingField !== 'dates'" (click)="toggleEdit('dates')">
        {{ getFormattedDates() | titlecase }}
      </span>
      <p-calendar
        #inputElement
        formControlName="dates"
        selectionMode="range"
        placeholder="Pick a period"
        [showIcon]="true"
        [required]="true"
        [baseZIndex]="999"
        [minDate]="currentDate"
        (onBlur)="updateDatesField()"
        *ngIf="editingField === 'dates'"
      ></p-calendar>
    </div>

    <div class="vertical-line"></div>

    <div class="">
      <span class="fw-bold" *ngIf="editingField !== 'guests'" (click)="toggleEdit('guests')">
        {{ getFieldValue('guests') }} guest<span *ngIf="getFieldValue('guests') > 1">s</span>
      </span>
      <input
        #inputElement
        formControlName="guests"
        *ngIf="editingField === 'guests'"
        (blur)="updateGuestsField()"
        style="min-width: 44px"
        class="form-control"
        type="number"
        autofocus
      />
    </div>

    <button class="btn ms-3 me-2" (click)="searchHotels()" [disabled]="searchForm.invalid">
      <i class="bi bi-search"></i>
    </button>
  </form>
</div>
