<div class="floating-form">
  <form [formGroup]="searchForm" class="d-flex flex-row align-items-center">
    <div class="ms-3">
      <span
        class="fw-bold"
        *ngIf="editingField !== 'destination'"
        (click)="toggleEdit('destination')"
      >
        {{ getFieldValue('destination').name }}
      </span>
      <p-autoComplete
        #inputElement
        field="name"
        formControlName="destination"
        [suggestions]="regions"
        (onHide)="updateDestinationField()"
        (completeMethod)="searchRegions($event.query)"
        *ngIf="editingField === 'destination'"
        [forceSelection]="true"
        [autofocus]="true"
        [minLength]="3"
        [delay]="300"
      ></p-autoComplete>
    </div>

    <div class="vertical-line"></div>

    <div class="">
      <span class="fw-bold" *ngIf="editingField !== 'dates'" (click)="toggleEdit('dates')">
        {{ getFormattedDates() | titlecase }}
      </span>
      <p-calendar
        #inputElement
        formControlName="dates"
        selectionMode="range"
        placeholder="Pick a period"
        [showIcon]="true"
        [required]="true"
        [baseZIndex]="999"
        [minDate]="currentDate"
        (onClickOutside)="updateDatesField()"
        *ngIf="editingField === 'dates'"
      ></p-calendar>
    </div>

    <div class="vertical-line"></div>

    <div class="">
      <span class="fw-bold" *ngIf="editingField !== 'guests'" (click)="toggleEdit('guests')">
        {{ getFieldValue('guests') }} guest<span *ngIf="getFieldValue('guests') > 1">s</span>
      </span>
      <p-inputNumber
        #inputElement
        formControlName="guests"
        [suffix]="getFieldValue('guests') > 1 ? ' guests' : ' guest'"
        *ngIf="editingField === 'guests'"
        (onBlur)="updateGuestsField()"
        [min]="1"
      ></p-inputNumber>
    </div>

    <button
      class="btn btn-search ms-3 me-2"
      (click)="searchHotels()"
      [disabled]="searchForm.invalid"
    >
      <i class="bi bi-search"></i>
    </button>
  </form>
</div>
