<div class="container">
  <app-floating-form [formData]="searchForm" (searchEvent)="onSearch($event)"></app-floating-form>

  <div class="row">
    <h4 class="pb-1">{{ hotel?.name }}</h4>
    <div class="d-flex">
      <div class="title-section align-items-center">
        <i class="fas fa-star"></i>
        <span class="rating">{{ hotel?.rating }}</span>
        <span class="reviews">({{ hotel?.numberOfReviews }} reviews)</span>
        <span class="point">•</span>
        <span class="address">{{ hotel?.address }}</span>
      </div>
      <div class="icon-section">
        <span class="share-icon" title="Share this property" (click)="shareProperty()">
          <i class="fas fa-share-alt"></i> Share
        </span>
        <span
          class="favorite-icon"
          [title]="hotel?.isFavorite ? 'Unsave' : 'Save'"
          (click)="toggleFavorite(hotel)"
        >
          <i [ngClass]="hotel?.isFavorite ? 'bi bi-suit-heart-fill' : 'bi bi-suit-heart'"></i>
          {{ hotel?.isFavorite ? 'Saved' : 'Save' }}
        </span>
      </div>
    </div>
  </div>

  <div class="gallery-section row pt-3">
    <div class="col-md-9 px-2">
      <img [src]="hotel?.photos[0]" (click)="imageClick(0)" class="img-fluid main-image w-100" />
    </div>
    <div class="col-md-3 px-0">
      <div class="d-flex flex-column">
        <div class="position-relative">
          <img [src]="hotel?.photos[1]" (click)="imageClick(1)" class="img-fluid side-image" />
          <img [src]="hotel?.photos[2]" (click)="imageClick(2)" class="img-fluid side-image" />
          <img [src]="hotel?.photos[3]" (click)="imageClick(3)" class="img-fluid side-image" />
          <button class="btn-show-all" (click)="showGalleria = true">
            <i class="far fa-images"></i> See all photos
          </button>
        </div>
      </div>
    </div>
  </div>

  <p-galleria
    #galleria
    [value]="images"
    [(visible)]="showGalleria"
    [(activeIndex)]="activeIndex"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '850px' }"
    containerClass="custom-galleria"
    [numVisible]="5"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
    [baseZIndex]="999"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item" style="width: 100%; max-height: 600px; display: block" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item" style="display: block" />
      </div>
    </ng-template>
    <ng-template pTemplate="footer" let-item>
      <div class="custom-galleria-footer">
        <span *ngIf="images" class="title-container">
          <span>{{ activeIndex + 1 }}/{{ images.length }}</span>
          <span class="title">{{ images[activeIndex].title }}</span>
          <span>{{ images[activeIndex].alt }}</span>
        </span>
      </div>
    </ng-template>
  </p-galleria>

  <div class="row mt-4">
    <div class="col-md-7">
      <div class="description-section">
        <h5 class="mb-3">Overview</h5>
        <div class="d-block mb-3">
          <!-- <p class="fw-bold" *ngIf="hotel?.roomDetails">
            <i class="fas fa-home fa-lg me-1"></i>
            <span *ngIf="hotel?.maxGuests">{{ hotel.maxGuests }} guests</span>
            <span *ngIf="hotel?.bathrooms">• {{ hotel.bathrooms }} private baths</span>
            <span *ngIf="hotel?.beds">• {{ hotel.beds }} beds</span>
          </p> -->
        </div>
        <span style="white-space: pre-line">{{ hotel?.description }}</span>
      </div>

      <div class="separator my-4"></div>

      <div class="facilities-section">
        <h5 class="mb-4">Main Facilities</h5>
        <div class="d-flex flex-wrap">
          <ng-container *ngFor="let amenity of filteredAmenities">
            <div class="facility-item">
              <i class="{{ findIconByLabel(amenity.name) }}"></i>
              <span> {{ amenity.name }} </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <form [formGroup]="bookingForm" class="booking-section">
        <div class="d-flex mb-4">
          <span class="daily-price">
            <strong>{{ hotel?.dailyPrice | currency }}</strong
            >/night
          </span>
          <div class="rating">
            <i class="fas fa-star"></i>
            <span class="rating fw-bold">{{ hotel?.rating }}</span>
          </div>
        </div>

        <div class="form mb-4">
          <div class="row mb-3">
            <div class="col-md-6 pe-4">
              <label for="checkIn">Check-in</label>
              <p-calendar
                inputId="checkIn"
                formControlName="checkIn"
                [minDate]="currentDate"
                dateFormat="dd/mm/yy"
                [disabledDates]="disabledDates"
              ></p-calendar>
            </div>

            <div class="col-md-6 ps-4">
              <label for="checkOut">Check-out</label>
              <p-calendar
                inputId="checkOut"
                formControlName="checkOut"
                [minDate]="getFieldValue('checkIn')"
                dateFormat="dd/mm/yy"
                [disabledDates]="disabledDates"
              ></p-calendar>
            </div>

            <div class="col-md-12 mt-3">
              <label for="guests">Guests</label>
              <p-inputNumber
                inputId="guests"
                formControlName="guests"
                [max]="hotel?.maxGuests"
                [suffix]="getFieldValue('guests') > 1 ? ' guests' : ' guest'"
              ></p-inputNumber>
            </div>
          </div>
        </div>

        <div class="d-flex mb-2">
          <span class="">
            {{ hotel?.dailyPrice | currency }} x {{ getTotalNights() }}
            {{ getTotalNights() > 1 ? 'nights' : 'night' }}
          </span>
          <span class="ms-auto">{{ getDailyPrices(hotel?.dailyPrice) | currency }}</span>
        </div>
        <div class="d-flex mb-2">
          <span class="">New user discount</span>
          <span class="ms-auto disccount">-{{ NEW_USER_DISCOUNT | currency }}</span>
        </div>
        <div class="d-flex mb-2">
          <span class="">Service fee</span>
          <span class="ms-auto">{{ HOTEL_FEE | currency }}</span>
        </div>

        <div class="separator my-3"></div>

        <div class="d-flex mb-3 fw-bold">
          <span class="">Total (USD)</span>
          <span class="ms-auto">{{ getTotalPrice(hotel?.dailyPrice) | currency }}</span>
        </div>

        <div class="d-grid">
          <button
            class="btn booking-btn py-2 mb-2"
            [disabled]="bookingForm.invalid"
            (click)="navigateToCheckout()"
          >
            Reserve
          </button>
          <span class="text-center">You won't be charged yet.</span>
        </div>
      </form>
    </div>
  </div>
</div>
