<div class="row full-height">
  <div class="col-md-4 image-coll">
    <img src="../../../assets/images/login.png" class="img-fluid full-image" />
  </div>
  <div class="col-md-8 full-height">
    <div class="text-end" style="margin: 32px 92px 2px 0">
      <span *ngIf="isSignup">
        Already have an account?
        <a class="toggleForm" type="button" (click)="toggleForm()">Log in</a>
      </span>
      <span *ngIf="!isSignup">
        Don't have an account?
        <a class="toggleForm" type="button" (click)="toggleForm()">Sign up</a>
      </span>
    </div>
    <div class="form-section mx-auto">
      <div class="row">
        <div class="signup-form" *ngIf="isSignup">
          <h3 class="mb-4">Sign Up</h3>
          <div class="social-buttons d-grid">
            <button class="btn btn-google mb-2">
              <i class="bi bi-google me-1"></i> Sign up with Google
            </button>
            <button class="btn btn-facebook mb-2">
              <i class="bi bi-facebook me-1"></i> Sign up with Facebook
            </button>
            <button class="btn btn-apple">
              <i class="bi bi-apple me-1"></i> Sign up with Apple
            </button>
          </div>

          <div class="row my-3 mx-0 align-items-center">
            <div class="col separator"></div>
            <div class="col-auto text-center">
              <span class="px-2">OR</span>
            </div>
            <div class="col separator"></div>
          </div>

          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="row pb-3">
              <div class="col-md-6">
                <label for="firstName">First name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Input first name"
                  formControlName="firstName"
                  id="firstName"
                />
                <div *ngIf="isFieldInvalid('signupForm', 'firstName')">
                  <small class="text-danger">Your first name is required.</small>
                </div>
              </div>
              <div class="col-md-6">
                <label for="lastName">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Input last name"
                  formControlName="lastName"
                  id="lastName"
                />
                <div *ngIf="isFieldInvalid('signupForm', 'lastName')">
                  <small class="text-danger">Your last name is required.</small>
                </div>
              </div>
            </div>
            <div class="col-md-12 pb-3">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                placeholder="example@gmail.com"
                formControlName="email"
                id="email"
              />
              <div *ngIf="isFieldInvalid('signupForm', 'email')">
                <small class="text-danger">Please enter a valid email.</small>
              </div>
            </div>
            <div class="col-md-12 pb-3">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Enter at least 6+ characters"
                formControlName="password"
                id="password"
              />
              <div *ngIf="isFieldInvalid('signupForm', 'password')">
                <small class="text-danger">Password must be at least 6 characters long.</small>
              </div>
            </div>
            <div class="col-md-12 pb-3">
              <input type="checkbox" class="form-check-input" formControlName="terms" id="terms" />
              <label class="check-label ms-2" for="terms">
                By signing up, I agree with the Terms of Use & Privacy Policies.
              </label>
              <div class="ms-4" *ngIf="isFieldInvalid('signupForm', 'terms')">
                <small class="text-danger">Please check the box to proceed.</small>
              </div>
            </div>
            <div class="d-grid">
              <button class="btn form-btn" type="submit" [disabled]="signupForm.invalid">
                Create an account
              </button>
            </div>
          </form>
        </div>

        <div class="login-form mt-4" *ngIf="!isSignup">
          <h3 class="mb-4">Log In</h3>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="col-md-12 pb-3">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="example@gmail.com"
                id="email"
              />
              <div *ngIf="isFieldInvalid('loginForm', 'email')">
                <small class="text-danger">Please enter a valid email.</small>
              </div>
            </div>
            <div class="col-md-12 pb-3">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Enter your password"
                id="password"
              />
              <div *ngIf="isFieldInvalid('loginForm', 'password')">
                <small class="text-danger">Password must be at least 6 characters long.</small>
              </div>
            </div>
            <div class="col-md-12 pb-3 d-flex align-content-center">
              <input
                type="checkbox"
                class="form-check-input"
                formControlNam="rememberMe"
                id="rememberMe"
              />
              <label for="rememberMe" class="check-label ms-2">Remember me</label>
              <div class="ms-auto">
                <a class="text-end">Forgot password?</a>
              </div>
            </div>
            <div class="d-grid mb-4">
              <button class="btn form-btn" type="submit" [disabled]="loginForm.invalid">
                Log In
              </button>
            </div>
          </form>

          <div class="col-md-12 text-center mb-2">
            <span class="text-center">Or log in with</span>
          </div>
          <div class="col-md-12 social-buttons d-flex justify-content-center">
            <div class="btn btn-google"><i class="bi bi-google"></i></div>
            <div class="btn btn-facebook"><i class="bi bi-facebook"></i></div>
            <div class="btn btn-apple"><i class="bi bi-apple"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
