<app-navbar></app-navbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer class="footer mt-auto py-3">
  <div class="container d-flex">
    <p>
      © 2023 Company, Inc. •
      <a [routerLink]="'#'">Políticas de Privacidade</a> •
      <a [routerLink]="'#'">Termos de Uso</a>
    </p>
    <div class="icon-section">
      <span class="currency">BRL</span>
      <i class="fas fa-globe fa-lg"></i>
      <i class="fab fa-facebook fa-lg"></i>
      <i class="fab fa-twitter fa-lg"></i>
      <i class="fab fa-instagram fa-lg"></i>
    </div>
  </div>
</footer>
