<div class="d-flex">
  <div class="col-md-5">
    <img src="{{ hotel.images[0] }}" alt="" class="img-fluid w-100" />
  </div>
  <div class="col-md-6">
    <div class="hotel-info">
      <h5>
        <a [routerLink]="'/hotel-details'">{{ hotel.name }}</a>
        <i
          [ngClass]="hotel.isFavorite ? 'bi bi-suit-heart-fill' : 'bi bi-suit-heart'"
          (click)="toggleFavorite()"
          title="Salvar"
        ></i>
      </h5>

      <div class="separator mt-2 mb-3"></div>

      <span class="d-block light-text"
        >{{ hotel.max_guests }} hóspedes • {{ hotel.beds }} cama • {{ hotel.bathrooms }} banheiro
        privado</span
      >
      <span class="d-block light-text">WiFi • Ar-condicionado</span>

      <div class="mt-auto">
        <div class="d-flex">
          <span class="ms-auto light-text">R$450 total</span>
        </div>
        <div class="d-flex align-items-center">
          <i class="fas fa-star me-1" style="color: orange"></i>
          <span class="fw-bold me-1">{{ hotel.rating }}</span>
          <span class="light-text">(324 avaliações)</span>
          <div class="ms-auto" style="font-size: 18px">
            <span
              ><strong>{{ hotel.price | currency: 'BRL' }}</strong
              >/noite
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
