img {
  max-width: 398px;
  max-height: 197px;
  border-radius: 8px;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  height: 100%;

  h5 {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: left;

    a {
      color: #171a1fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    i {
      font-size: 22px;
      position: absolute;
      cursor: pointer;
      right: 0px;

      &.bi-suit-heart-fill {
        color: #cf101d;
      }
    }
  }

  .separator {
    max-width: 60px;
    border-bottom: 2px solid #dee1e6ff;
  }
}

.light-text {
  font-size: 13px;
  color: #9095a1ff;
}
