<div class="container">
  <div class="row">
    <div class="background-image position-relative">
      <div class="form-section position-absolute">
        <form class="d-flex" [formGroup]="searchForm">
          <div class="me-3 ms-2">
            <label for="destination">Destino</label>
            <p-autoComplete
              formControlName="destination"
              [suggestions]="regions"
              (completeMethod)="searchRegions($event)"
              placeholder="Where are you going?"
              field="name"
            ></p-autoComplete>
          </div>

          <div class="me-3">
            <label for="checkIn">Check-in</label>
            <p-calendar
              formControlName="checkIn"
              placeholder="Pick a date"
              [minDate]="currentDate"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>

          <div class="me-3">
            <label for="checkOut">Check-out</label>
            <p-calendar
              formControlName="checkOut"
              placeholder="Pick a date"
              [minDate]="minCheckOutDate"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>

          <div class="me-3">
            <label for="guests">Hóspedes</label>
            <p-inputNumber
              formControlName="guests"
              [suffix]="getFieldValue('guests') > 1 ? ' guests' : ' guest'"
              placeholder="Add guests"
              [min]="1"
            ></p-inputNumber>
          </div>

          <button class="btn search-btn ms-2" type="submit" (click)="navigate()">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
