<div class="container">
  <div class="row">
    <div class="background-image position-relative">
      <div class="form-section position-absolute">
        <form class="d-flex">
          <div class="me-3 ms-2">
            <label for="">Destino</label>
            <input class="form-control" type="text" placeholder="Qual seu destino?" />
          </div>

          <div class="me-3">
            <label for="">Check-in</label>
            <input class="form-control" type="date" placeholder="Escolha uma data" />
          </div>

          <div class="me-3">
            <label for="">Check-out</label>
            <input class="form-control" type="date" placeholder="Escolha uma data" />
          </div>

          <div class="me-3">
            <label for="">Hóspedes</label>
            <input class="form-control" type="number" placeholder="Quantos hóspedes?" />
          </div>

          <button class="btn ms-2" [routerLink]="'/search'"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
