// Paleta de Cores
:root {
  --primary: #5a67d8;
  --secondary: #4c51bf;
  --neutral: #2d3748;
  --background: #edf2f7;
}

body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 14px;
  box-sizing: border-box;
  color: #171a1fff !important;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1024px;
}
