.floating-form {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  padding: 6px;
  border-radius: 22px;
  box-shadow:
    0px 2px 5px rgba(23, 26, 31, 0.09),
    0px 0px 2px rgba(23, 26, 31, 0.12);

  form {
    min-width: 350px;
    max-width: 100%;
  }

  .form-control {
    max-width: 200px;
    font-size: 14px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 1px;
    border-radius: 0px;
    border: none;

    &:focus {
      border-bottom: 1px solid #9095a1;
      box-shadow: none;
    }
  }

  .vertical-line {
    width: 1px;
    height: 26px;
    margin: auto 12px;
    background-color: #dee1e6ff;
  }

  button {
    padding: 8px 12px;
    font-size: 12px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7930d8ff;
    border-radius: 50%;

    &:hover {
      background-color: #6323b7ff;
    }
  }
}

.container {
  margin-top: 60px;
}

.filters-section {
  padding: 16px 12px;
  border-radius: 6px;
  box-shadow:
    0px 0px 1px rgba(23, 26, 31, 0.07),
    0px 0px 2px rgba(23, 26, 31, 0.12);

  .collapser-link {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    border-radius: 4px;
    border: none;
    background-color: rgba(248, 249, 250, 1);

    i {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }

    &[aria-expanded='true'] i {
      transform: translateY(-50%) rotate(90deg);
    }

    &[aria-expanded='false'] {
      background-color: white;
    }

    &:active {
      border: none;
    }
  }

  .collapse {
    ::ng-deep .ngx-slider {
      .ngx-slider-pointer {
        border: none;
        background-color: transparent;

        &:after {
          top: 7px;
          width: 8px;
          height: 17px;
          background: #6323b7ff;
        }
      }

      .ngx-slider-bubble {
        font-size: 14px;
      }

      .ngx-slider-selection {
        background: #7930d8ff;
      }
    }
  }
}

.hotel-card {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 2px solid #dee1e6ff;
}

.hotel-card:nth-child(5n) {
  border-bottom: none;
}

.pagination {
  .page-link {
    font-size: 14px;
    font-weight: bold;
    color: #1e2128ff;
    border: none;
    margin: 0 4px;
    padding: 8px 16px;

    &:hover {
      color: blue;
      background-color: transparent;
    }
  }

  .page-item.active {
    .page-link {
      color: white;
      background-color: #1e2128ff;
      border-color: #1e2128ff;
      border-radius: 50%;
    }
  }
}
